<div class="flex flex-col gap-3">
    <div class="flex justify-between">
        <mat-paginator 
            (page)="handlePageEvent($event)" 
            [length]="books?.count"
            [pageSize]="shopParams.pageSize"
            [showFirstLastButtons]="true"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="shopParams.pageNumber - 1"
            aria-label="Select page"
        >
        </mat-paginator>
        <div class="flex gap-3">
            <button mat-stroked-button (click)="openFiltersDialog()">
                <mat-icon>filter_list</mat-icon>
                Filters
            </button>
            <button mat-stroked-button [matMenuTriggerFor]="sortMenu">
                <mat-icon>swap_vert</mat-icon>
                Sort
            </button>
        </div>
    </div>
    <div class="grid grid-cols-5 gap-4">
        @for (book of books?.data; track book.id) {
            <app-book-item [book]="book"></app-book-item>
        }
    </div>
</div>

<mat-menu #sortMenu="matMenu">
    <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
        @for (sortOption of sortOptions; track $index) {
            <mat-list-option [value]="sortOption.value" [selected]="shopParams.sort === sortOption.value">
                {{sortOption.name}}
            </mat-list-option>
        }
    </mat-selection-list>
</mat-menu>