<div class="flex flex-col gap-3">
    <div class="flex justify-end gap-3">
        <button mat-stroked-button (click)="openFiltersDialog()">
            <mat-icon>filter_list</mat-icon>
            Filters
        </button>
        <button mat-stroked-button [matMenuTriggerFor]="sortMenu">
            <mat-icon>swap_vert</mat-icon>
            Sort
        </button>
    </div>
    <div class="grid grid-cols-5 gap-4">
        @for (book of books; track book.id) {
            <app-book-item [book]="book"></app-book-item>
        }
    </div>
</div>

<mat-menu #sortMenu="matMenu">
    <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
        @for (sortOption of sortOptions; track $index) {
            <mat-list-option [value]="sortOption.value" [selected]="shopParams.sort === sortOption.value">
                {{sortOption.name}}
            </mat-list-option>
        }
    </mat-selection-list>
</mat-menu>