@if (book) {
    <mat-card appearance="raised">
        <img src="{{book.pictureUrl}}" alt="image of {{book.title}}" />
        <mat-card-content class="mt-2 flex-1">
            <h2 class="text-sm font-semibold uppercase">{{book.title}}</h2>
            <p class="font-light">{{book.price | currency}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button class="w-full">
                <mat-icon>add_shopping_cart</mat-icon>
                Add to cart
            </button>
        </mat-card-actions>
    </mat-card>
}